.cart-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cart-content-container {
  width: 90%;
  align-self: center;
  margin:0px 10px;
}

.cart-heading {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
  }

.cart-container {
  display:flex;
  flex-direction: column;
  border-width: 1px solid gray;
  margin-top: 0;
  padding-left: 0;
  box-shadow: #0000000d 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  border-radius: 10px;
  flex-basis: 50%;
}

.continue-shopping-button-link{
  display:flex;
  justify-content:center;
  text-decoration: none;
}

.order-content-container {
  width: 90%;
  align-self: center;
  max-width: 400px;
}

.order-summary-container {
    box-shadow: #0000000d 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    border-radius: 10px;
    padding: 20px 40px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex-basis: 25%;
  }

.order-title {
    text-align: center;
    margin-bottom: 30px;
    font-weight: bold;
  }

.order-amount-container {
  display: flex;
  justify-content: space-between;
}

.order-amount {
  font-size: 20px;
  margin-bottom: 5px;
}

.order-text {
  margin-top: 0;
  text-align: right;
}

.checkout-button {
  background-color: #3e434b;
  border-radius: 10px;
  border-width: 0px;
  padding: 15px 40px;
  transition-duration: 500ms;
  color: aliceblue;
  font-size: 20px;
}

.checkout-button:hover {
  background-color: #0f0f11;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.remove-button{
  margin: 10px;
  align-self: center;
}

.cart-price{
  font-size: 28px
}

@media screen and (min-width: 768px) {
  .cart-content-container {
    width: 65%;
    margin-right:10px;
  }

  .order-content-container {
    width: 30%;
  }
}

@media screen and (min-width: 992px) {
  .cart-page-container {
    flex-direction:row;
  }
}