.input-container {
    width: 100%;
    display: flex;
    margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
.input-container {
    width: 25%;
    align-self: flex-end;
    margin-bottom: 10px;
}
}
  
.search-input{
    font-size: 18px;
    height: 30px;
    width: 300px;
    min-width: 30%;
    border-radius: 10px 0px 0px 10px;
    padding: 5px;
    border-width: 1px;
}

.search-button{
    background-color:#3e434b;
    height: 42px;
    width: 50px;
    border-radius: 0px 10px 10px 0px;
    border-width: 0px;
    padding: 5px;
}

.search-icon{
    font-size: 22px;
    color: white;
}